{% extends 'base.html' %}

{% block title %}main page{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="eleven wide column">
        {% for obj in qs %}
            
        <div class="ui fluid card">
            <div class="content">
                <div class="right floated meta">
                <div class="ui grid">
                    <div class="row">
                        {% if request.user == obj.author.user %}
                            <a href="{% url 'postings:post-update' obj.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                            <a href="{% url 'postings:post-delete' obj.pk %}"><button class="ui button bwhite-lg ">Delete</button></a>
                        {% endif %}
                    </div>
                </div>

                </div>
                <img class="ui avatar image" src={{obj.author.profile_picture.url}}>
                Name: {{obj.author.f_name}}&nbsp{{obj.author.l_name}} - Posted {{obj.created|timesince}} ago ({{obj.author.user}})
            </div>
            <div class ="ui fluid image">
                {% if obj.image %}
                    <img src={{obj.image.url}}>
                {% endif %}
            </div>    
            <div class="content">
                <p> {{ obj.content }} </p>
                <div class="right floated">
                    <form action="{% url 'postings:love-post-view' %}" method="POST" class="love-form" id="{{obj.id}}">
                        {% csrf_token %}
                        <input type="hidden" name='post_id' value={{obj.id}}>
                        
                            <button type="submit" class="ui button love-btn{{obj.id}}"><i class="heart icon"></i>
                                {% if profile not in obj.loved.all %}
                                    Love 
                                {% else %}
                                    Dislike
                                {% endif %}    
                            </button>
                            <div class="ui grid">
                                <div class="column">
                                    <div class="love-count{{obj.id}}"> {{obj.num_loves}} </div> 
                                </div>
                                <div class="column">
                                    loves
                                </div>
                            </div>
                    </form>
                </div>
                <i class="comment icon"></i>
                <span> {{ obj.num_remarks }} remarks</span>
            </div>
            <div class="extra content">
                <div class="mb-5">
                  
                </div>
                <button class="rmk_btn ui button mb-5">toggle remarks</button>
                <div class="remark-box">
                {% if obj.remark_set.all %}
                    {% for c in obj.remark_set.all %}

                        <div class="ui segment mb-5">
                            <img class="ui avatar image" src={{c.user.profile_picture.url}}>
                            <span>{{ c.user }}</span>
                            <div class='mt-6'>{{ c.body }}</div>
                        </div>

                    {% endfor %}
                {% endif %}
                </div>

                <form action="" method="POST" class='ui fluid form'>
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{obj.id}}>
                    {{ q_form }}
                    <button type="submit" name="submit_q_form" class="ui primary button mt-5 w-full">Post</button>
                </form>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class ="five wide column">
        <div class="ui segment">
            {% if post_added %}
                <div class="ui green message"> Post Added </div>
            {% endif %}
            <form action="" method="POST" class="ui form" enctype="multipart/form-data">
                {% csrf_token%}
                {{p_form}}
                <button type ='submit' class='ui button positive' name="submit_p_form">Post Now</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
    <script>
        $( document ).ready(function() {
            let display = false
            $(".rmk_btn").click(function () {
                if (display===false) {
                    $(this).next(".remark-box").show("slow");
                    display=true
                } else {
                    $(this).next(".remark-box").hide("slow");
                    display=false
                }
            });

            $('.love-form').submit(function(e){
                e.preventDefault()
                
                const post_id = $(this).attr('id')
                
                const loveText = $(`.love-btn${post_id}`).text()
                const trim = $.trim(loveText)

                const url = $(this).attr('action')
                
                let res;
                const loves = $(`.love-count${post_id}`).text()
                const trimCount = parseInt(loves)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id,
                    },
                    success: function(response) {
                        if(trim === 'Dislike') {
                            $(`.love-btn${post_id}`).text('Love')
                            res = trimCount - 1
                        } else {
                            $(`.love-btn${post_id}`).text('Dislike')
                            res = trimCount + 1
                        }

                        $(`.love-count${post_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })

            })

        });
    </script>
{% endblock scripts %}