{% extends 'base.html' %}

{% block title %}
my profile page
{% endblock title %}

{% block content %}
<!-- THIS IS THE MODAL -->
<div class="ui modal rizmodal">
    <i class="close icon"></i>
    <div class="header">
      Time to Update Your Profile
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="{{profile.profile_picture.url}}">
      </div>
      <div class="description">
        <div class="ui header">Keep others updated about yourself!</div>
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui positive right labeled icon button">
        Update
        <i class="checkmark icon"></i>
      </button>
    </form>
    </div>
  </div>
<div class="ui segment">
    {% if confirm %}
        <div class="ui yellow message">Congratulations. Your profile has been updated</div>
    {% endif %}
    <h3>my profile: {{request.user}}</h3>
    <div class="ui grid">
    <div class='row'>
        <div class='six wide column'>
            <img class="ui medium rounded image" src={{profile.profile_picture.url}}>
            <div class="row mt-6">
                <button class='ui secondary button' id='modal-btn'>Let's Update Your Profile</button>
            </div>
        </div>
        <div class="ten wide column">
            <table class="ui table">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{profile.user}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{profile.f_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{profile.l_name}}</td>
                    </tr>
                    <tr>
                        <td>Biography</td>
                        <td>{{profile.biography}}</td>
                    </tr>
                    <tr>
                        <td>Number of Friends</td>
                        <td>{{profile.attain_friends_number}}</td>
                    </tr>
                    <tr>
                        <td>List of Friends</td>
                        <td>
                            <ul>
                                {% for friend in profile.attain_friends %}
                                    <li>{{friend}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Number of Posts</td>
                        <td>{{profile.attain_posts_number}}</td>
                    </tr>
                    <tr>
                        <td>Number of Loves Given</td>
                        <td>{{profile.attain_loves_given_number}}</td>
                    </tr>
                    <tr>
                        <td>Number of Loves Received</td>
                        <td>{{profile.attain_loves_received_number}}</td>
                    </tr>
                    </tr>
                </tbody>
        </div>
</div>

{% endblock content %}

<!-- <h1>My Profile Page: {{profile}}</h1>
<hr>
<img src ={{profile.profile_picture.url}}>
<br>
{{profile.profile_picture.url}}>
<br>
{{profile.profile_picture}}>
<hr>
{{profile.f_name}}
<br>
{{profile.l_name}}
<br>
{{profile.residence}}
<br>
{{profile.biography}}
<br>
<ul>
    {% for friend in profile.attain_friends %}
    <li>{{friend}}</li>
{% endfor %}
</ul>
<br>
{{profile.attain_friends_number}}
<br> -->