{% extends 'base.html' %}

{% block title %}
my friend invites
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h1>You have NO friend invitations here!</h1>
    {% endif %}
 
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui medium rounded image" src={{obj.profile_picture.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h2>Name: {{obj.f_name}}&nbsp{{obj.l_name}}</h2>
                        <h3>Username: {{obj.user}}</h3>
                        <p>{{obj.biography}}</h3>       
                        <br>
                        <a href={{obj.attain_absolute_url}}>
                            <button class="ui primary button w-large mb-5"><i class="id badge icon"></i>View Profile</button>
                        </a>
                        <form action="{% url 'userprofiles:approve-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui positive basic button w-large mb-5">
                                <i class="thumbs up icon"></i>
                                Approve invitation
                            </button>
                        </form>
                         <form action="{% url 'userprofiles:deny-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui negative basic button w-large mb-5">
                                <i class="thumbs down icon"></i>
                                Deny invitation
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}