{% extends 'base.html' %}

{% block title %}
user profile detail
{% endblock title %}

{% block content %}
<div class="ui grid">
    <br>
    <div class="row">
        <div class="four wide column">
            <img class="ui medium rounded image" src={{object.profile_picture.url}}>
            <h1>Name: {{object.f_name}}&nbsp{{object.l_name}}</h1>
            <h2>{{object.user}}</h2>
            <div class="ui vertical fluid menu">
                <div class="item">
                    Number of Posts
                    <div class="ui label">{{ object.attain_posts_number }}</div>
                </div>
                <div class="item">
                    Loves Given
                    <div class="ui label">{{ object.attain_loves_given_number }}</div>
                </div>
                <div class="item">
                    Loves Received
                    <div class="ui label">{{ object.attain_loves_received_number }}</div>
                </div>
                <div class="item">
                    Number of Friends
                    <div class="ui label">{{ object.attain_friends_number }}</div>
                </div>
            </div>

            {% if object.user not in reln_receiver and object.user not in reln_sender %}
                <form action="{% url 'userprofiles:invite-send' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                    <button type="submit" class="ui positive basic button mb-5 w-large"><i class="plus square outline icon"></i>Add to my Friends</button>
                </form>
            {% endif %}

            {% if object.user in reln_receiver and request.user not in object.friends.all %}
                <button class="ui disabled button mb-5 w-large"><i class="handshake icon"></i>Still waiting for approval</button>
            {% endif %}

            {% if request.user in object.friends.all %}    
            <form action="{% url 'userprofiles:erase-friend' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{object.pk}}>
                <button type="submit" class="ui negative basic button mb-5 w-large"><i class="minus square outline icon"></i>Erase from my Friends</button>
                </form>
            {% endif %}

        </div>
        <div class="twelve wide column">
            {% if len_posts %}
                {% for post in posts %}
                    <div class="segment ui fluid">
                        {{post.content}}
                    </div>
                {% endfor %}
            {% else %}
                <h1>This user has no posts for now.</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}